body{
    max-height: 2160px;
    max-width: 3840px;
    background-color: transparent;
}
table{
    float: left;
    text-align: center;
    font-size: large;
}
.table_left{

}
.table_right{

}
.table_center{

}
.table_footer{

}